@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f3d56;
}

.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.form-image img {
  width: 35rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 3rem;
}

.form-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.budget-button {
  display: flex;
  align-items: center;
}

.budget-button button {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border: none;
  background-color: #59bc6b;
  padding: 0.8rem 1.5rem;
  margin-left: 1.563rem;
  border-radius: 0.313rem;
  cursor: pointer;
}

.budget-button button:hover {
  transition: all 0.5s;
  background-color: #24de5cb9;
}

.budget-button button a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #59bc6b;
  margin: 0 auto;
  position: absolute;
  border-radius: 0.625px;
  margin-top: 0.3rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
  transition: all 0.5s;
  background-color: #f8f9f7;
}

.input-box input:focus-visible {
  transition: all 0.3s;
  outline: 1px solid #59bc6b;
}

.input-box label,
.price-title h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box label::placeholder {
  color: #000000be;
}

.price-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.1rem;
}

/*Resultado*/
.price-group p span {
  font-size: 30px;
  font-weight: 900;
  padding: 10px 10px 0px 0px;
}

.taxa-group {
  padding: 10px 10px 0px 0px;
}

.taxa-group p span {
  font-size: 14px;
  color: #868b8e;
  font-weight: bold;
}

/*Botao whats*/

.continue-button button {
  width: 100%;
  margin-top: 1.4rem;
  border: none;
  background-color: #59bc6b;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.continue-button button:hover {
  transition: all 0.8s;
  background-color: #24de5cb9;
}

.continue-button button a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

/*informação sobre os serviços*/

.important {
  font-size: 10px;
  cursor: pointer;
  color: #868b8e;
}

#returnHome {
  text-decoration: none;
  display: none;
}

#returnHome p {
  text-align: center;
  justify-content: center;
  margin-top: 1.55rem;
  font-size: 0.938rem;
  color: #41729f;
}

[data-tooltip] {
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

[data-tooltip]:after {
  display: none;
  position: absolute;
  top: -20px;
  padding: 15px;
  border-radius: 3px;
  width: 180px;
  left: calc(100% + 2px);
  content: attr(data-tooltip);
  background-color: #868b8e;
  color: #fff;
  z-index: 1;
}

[data-tooltip]:hover:after {
  display: block;
}

/* Responsividade */

@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }

  .container {
    width: 50%;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .form-header .title {
    font-size: 0.7rem;
  }

  .login-button button a {
    font-size: 0.9rem;
  }

  .container {
    width: 90%;
    height: auto;
  }

  .input-group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 5rem;
  }

  .modulo-inputs {
    margin-top: 2rem;
  }

  .modulo-group {
    flex-direction: column;
  }

  .modulo-input {
    margin-top: 0.5rem;
  }
}
